* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    list-style: none;
    text-decoration: none;
    color: white;
}

body {
    background: linear-gradient(207deg, rgb(90 210 225), rgba(255, 0, 0, 0) 70.71%), linear-gradient(55deg, rgb(0 82 109), rgba(0, 255, 0, 0) 70.71%), linear-gradient(324deg, rgb(56 129 254), rgba(0, 0, 255, 0) 70.71%), linear-gradient(69deg, rgb(0 40 94), rgba(0, 0, 255, 0) 70.71%);
    background-repeat: no-repeat;

}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}

b {
    font-size: 100px;
    font-weight: 600;
    color: rgb(0 82 109);
}

.logo {
    height: 50px;
}

.navlist {
    display: flex;
}

.navlist a {
    margin-left: 60px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-toggle {
    display: none;
    /* nunca quiero que se vea el checkbox*/
}

.section-yo {
    font-size: 20px;
    padding-bottom: 10%;
    padding-top: 10%;
    line-height: 1.5;
}

#menu-icon {
    display: none;
    /* lo pongo en none para que solo se vea cuando la página esté colapsada de forma horizontal */
}

#menu-icon {
    font-size: 35px;
    z-index: 101;
    /* para que este sobre el header */
    cursor: pointer;
    /* para que aparezca la manito cuando ponemos el mouse encima */
}

.icon-dev {
    font-size: 100px;
    text-align: center;
}

.menu-icon-action {
    display: none;
    /* para que no se le pueda hacer click*/
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.Proyecto-h1 {
    padding: 0 8%;
    padding-top: 30px;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
}

.proyecto {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.767);
    padding: 15px;
    text-align: center;
    width: 40%;
    align-content: center;

}

.proyecto img {
    max-width: 100%;
    border-radius: 8px;
}

.burbuja {
    position: absolute;
    opacity: 0;
    background-color: rgba(90, 209, 225, 0.717);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

section {
    padding: 0 8%;

}

.section-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #ffffff;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #F4EDE4;
        border-radius: 5px;
        font-size: 16px;
        color: #000000;

        &:invalid {
            border-color: red;
        }
    }

    textarea {
        resize: none;
        height: 100px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #4b4b4b;
        color: #F4EDE4;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;

        &:disabled {
            background-color: #ccc;
        }
    }
}

.hero-text h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text p {
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img {
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear;
}

.hero-img img:hover {
    width: 450px;
    opacity: 0.6;
}

.hero-text a {
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.videos {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.videos i {
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all 0.5s ease;
}

.icons i:hover {
    color: #4d4d4d;
    transform: translateY(-5px);
}


@media (max-width:992px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text {
        padding-top: 0;
    }

    .hero-img {
        text-align: center;
    }

    .hero-img img {
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p {
        font-size: 70%;
    }

    .icons {
        display: none;
    }
}

@media (max-width: 768px) {

    .menu-icon-action {
        display: block;
    }

    #menu-icon {
        display: block;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img {
        margin: 0;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color:  rgba(0, 82, 109, 0.68) ;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease-out;
    }

    .navlist a {
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked+label.menu-icon-action+ul {
        right: 0;
    }
}

.burger-menu {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 40px;

    ul li {
        display: inline-block;
        position: relative;
    }

    ul li a {
        display: block;
        text-decoration: none;
        text-align: center;
    }

    ul.dropdown {
        width: 100%;
        position: absolute;
        z-index: 999;
        display: none;
    }
}

.dropdown:hover{
    display: block;
}

.proyecto:hover {
    transform: scale(1.05);
    transition: 0.3s;

    .burbuja {
        opacity: 1;
    }
}